<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/CadastroUser.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">Seja Bem vindo</h2>
                <p class="description description-primary">Se você já tiver cadastro </p>
                <p class="description description-primary">Em nosso site, clique em "Login"</p>
                <a href="../public/login.html"><button id="signin" class="btn btn-primary">Login</button> </a>
            </div>
            <div class="second-column">
                <img src="../public/img/logo.png" width="250">
                <h2 class="title title-second">Criar uma conta para Usuário</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-facebook-f"></i>
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-google-plus-g"></i>
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                        </a>
                    </ul>
                </div>
                <!-- social media -->
                <p class="description description-second">ou use seu e-mail para se registrar:</p>
                <form class="form">
                    <label class="label-input" for="">
                        <i class="far fa-user "></i>
                        <input type="text" placeholder="Name" required id ="nome">
                    </label>
                    <label class="label-input" for="">
                        <i class="far fa-envelope"></i>
                        <input type="email" placeholder="Email" required id ="email">
                    </label>
                    <label class="label-input" for="">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Senha" required id ="senha">
                    </label>
                    <!-- CPF -->
                    <label class="label-input" for="cpf-input">
                        <i class="far fa-id-card"></i>
                        <input type="text" id="cpf-input" placeholder="CPF" maxlength="14" oninput="formatarCPF(this)"
                            required id ="cpf">
                    </label>

                    <script>
                        function formatarCPF(cpfInput) {
                            // Remove caracteres especiais do CPF (como pontos e hífens)
                            var cpf = cpfInput.value.replace(/[^\d]/g, '');

                            if (cpf.length > 11) {
                                // Limite o campo a 11 dígitos (9 números + 2 pontos + 1 hífen)
                                cpf = cpf.substring(0, 11);
                            }

                            if (cpf.length > 9) {
                                // Insira pontos e um hífen após os 9 primeiros dígitos
                                cpf = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
                            } else if (cpf.length > 6) {
                                // Insira pontos após os 6 primeiros dígitos
                                cpf = cpf.replace(/(\d{3})(\d{3})(\d{3})/, '$1.$2.$3');
                            } else if (cpf.length > 3) {
                                // Insira um ponto após os 3 primeiros dígitos
                                cpf = cpf.replace(/(\d{3})(\d{3})/, '$1.$2');
                            }

                            cpfInput.value = cpf;
                        }
                    </script>
                    <label class="label-input" for="">
                        <i class="fas fa-map-marker"></i>
                        <input type="text" placeholder="dataNascimento" required id ="dataNascimento">
                    </label>
                    <label class="label-input" for="">
                        <i class="fas fa-building"></i>
                        <input type="text" placeholder="Cidade" required id ="cidade">
                    </label>
                    <label class="label-input" for="">
                        <i class="fas fa-map-marker"></i>
                        <input type="text" placeholder="Estado" required id ="estado">
                    </label>
                    <label class="label-input" for="">
                        <i class="fas fa-map-marker"></i>
                        <input type="text" placeholder="Endereço" required id ="endereco">
                    </label>
                    <label class="label-input" for="">
                        <i class="fas fa-map-marker"></i>
                        <input type="text" placeholder="CEP" required id ="cep">
                    </label>
                    <label class="label-input" for="">
                        <i class="fas fa-phone"></i>
                        <input type="text" id="telefone" name="telefone" placeholder="Digite o telefone"
                         required id ="telefone">
                    </label>

                </form>
                <a href="#"> <button class="btn btn-second" id="btn-criar-conta">Criar conta</button></a>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
                <script>
                    document.getElementById('btn-criar-conta').addEventListener('click', async () => {
                        try {
                            const nome = document.getElementById('nome').value;
                            const email = document.getElementById('email').value;
                            const senha = document.getElementById('senha').value;
                            const cpf = document.getElementById('cpf-input').value;
                            const telefone = document.getElementById('telefone').value;
                            const endereco = document.getElementById('endereco').value;
                            const cidade = document.getElementById('cidade').value;
                            const estado = document.getElementById('estado').value;
                            const cep = document.getElementById('cep').value;
                            const dataNascimento = document.getElementById('dataNascimento').value;
            
                            const res = await axios.post('http://localhost:4000/usuarios', {
                                nome,
                                email,
                                senha,
                                cpf,
                                telefone,
                                endereco,
                                cidade,
                                estado,
                                cep,
                                dataNascimento,
                            });
            
                            if (res.status === 201) {
                                //TODO Melhorar esse alerta ou deletar 
                                alert('Usuário criado com sucesso!');
                            } else {
                                // TODO Melhorar esse alerta ou deletar
                                alert('Erro ao criar usuário. Verifique seus dados e tente novamente.');
                            }
                        } catch (error) {
                            console.error('Erro ao criar usuário:', error);
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</body>

</html>