<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Busca Vet Veterinário</title>
    <link rel="stylesheet" href="../public/css/menu.css">
    <link rel="stylesheet" href="../public/css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"> <img src="../public/img/logo.png" width="250">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">

                        <a class="nav-link" href="index.html"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Home <span
                class="sr-only">(página atual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="clinicasVet.html"><i class="fa fa-fw fa-medkit" aria-hidden="true"></i>Clinicas/Vet</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="quemsomos.html"><i class="fa fa-fw fa-paw" aria-hidden="true"></i>Quem Somos?</a>
                    </li>
                    <!-- <li class="nav-item">
            <a class="nav-link" href="contato.html"><i class="fa fa-fw fa-address-book" aria-hidden="true"></i>Contato</a>
          </li>  -->
                    <li class="nav-item">
                        <a class="nav-link" href="CadastroUser.html"><i class="fa fa-fw fa-user" aria-hidden="true"></i>Login</a>
                    </li>
                </ul>
            </div>
        </nav>


    </div>
</body>

</html>