/* fonte  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}
/* titulos */
.title1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
}
.title2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: #fff;
}
.title-second {
    color: #58af9b;
}
.description {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}
/* Botões */
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: #fff;
    color: #58af9b;
}
.btn-second {
    background-color: #58af9b;
    border: 1px solid #58af9b;
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}
/* Colunas */
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Formulário de Cadastro */
.form {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
/* Icones  */
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.far  {
    color: #58af9b;
    padding: 0 5px;
}
.fas {
    color: #58af9b;
    padding: 0 5px;
}

/* imagem */
.img {
    width: 10%;
    justify-content: center;
}

/* rodape */

.rodape {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  footer {
    background-color: #c7e9da; /* Cor de fundo pastel verde */
    padding: 20px 0;    
  }
  
  footer p {
    color: #5b9279; 
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer ul li a {
    color: #5b9279;
    text-decoration: none;
    font-size: 14px;
  }
  