@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #cde8e7 ;
    --cor-fundo-pastel: #c7e9da;

    --cor-padrao: #04b4ae;
    --cor-escuro: #007470;
    
    --cor-escuro-footer: #5b9279;
    
    --branco:#fff ;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.text1 {
    font-family: 'Seaweed Script', cursive;
    justify-content: center;
    display: flex;
    color: var(--cor-escuro);
}

.div2{
    background-color: var(--cor-fundo);
    justify-items: center;
    align-items: center;
    display: flex;
    
}

.d-block {
    width: 100%;    
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(0, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 1 / 3 / 2 / 5; }
    .div3 { grid-area: 2 / 1 / 3 / 5; }
    .div4 { grid-area: 3 / 1 / 4 / 2; }
    .div5 { grid-area: 3 / 2 / 4 / 3; }
    .div6 { grid-area: 3 / 3 / 4 / 4; }
    .div7 { grid-area: 3 / 4 / 4 / 5; }

    /* Botões */
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: var(--branco);
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid var(--branco);
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: var(--branco);
    color: var(--cor-padrao);
}
.btn-second {
    background-color: var(--cor-padrao);
    border: 1px solid var(--cor-padrao);
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: var(--branco);
    border: 1px solid var(--cor-padrao);
    color: var(--cor-padrao);
}


.rodape {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  footer {
    background-color: var(--cor-fundo-pastel); /* Cor de fundo pastel verde */
    padding: 20px 0;    
  }
  
  footer p {
    color: var(--cor-escuro-footer); 
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer ul li a {
    color: var(--cor-escuro-footer);
    text-decoration: none;
    font-size: 14px;
  }
  